* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mBlack: #222;
$mGreen: #82b340;
$mSky: #4169e1;
$mGrey: #ececec;
$mRed: #ff0000;

body {
  background: $mGrey;
  color: $mBlack;
  font-family: "Open Sans", sans-serif;
}
